# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=10f1ec64-b583-4abc-8864-99ce63e33a81

    # Set to true to disable all reporting
    B:opt-out=false
}


