# Configuration file

~CONFIG_VERSION: 1

client {
    # Trophy tags that will be displayed on the Simple Trophies creative tab. Obtain them by right clicking a trophy in the air in creative. One per line, please.
    # 
    #  [default: [{TrophyName:"Add your own trophies here in the config!",TrophyVariant:"classic",TrophyItem:{id:"minecraft:diamond_axe",Count:1b,Damage:0s},TrophyColorRed:65,TrophyColorGreen:205,TrophyColorBlue:52}]]
    S:creativeTabTrophies <
        {TrophyName:"Add your own trophies here in the config!",TrophyVariant:"classic",TrophyItem:{id:"minecraft:diamond_axe",Count:1b,Damage:0s},TrophyColorRed:65,TrophyColorGreen:205,TrophyColorBlue:52}
        {TrophyColorGreen:169,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"ftbquests:book",Count:1b,Damage:0s},TrophyColorBlue:230,TrophyName:"Complete All Quest Trials",TrophyColorRed:225}
        {TrophyColorGreen:81,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"minecraft:diamond_sword",Count:1b,Damage:0s},TrophyColorBlue:26,TrophyName:"Complete All Missions",TrophyColorRed:59}
        {TrophyColorGreen:49,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"metallurgy:vulcanite_ingot",Count:1b,Damage:0s},TrophyColorBlue:44,TrophyName:"Obtain All Alloys in Shara's Quests",TrophyColorRed:179}
        {TrophyColorGreen:205,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"minecraft:knowledge_book",Count:1b,Damage:0s},TrophyColorBlue:52,TrophyName:"Destroy All Communism in the World",TrophyColorRed:65}
        {TrophyColorGreen:255,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"minecraft:command_block",Count:1b,Damage:0s},TrophyColorBlue:255,TrophyName:"Unlock All Commands in External Aid",TrophyColorRed:255}
        {TrophyColorGreen:118,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"minecraft:diamond_block",Count:1b,Damage:0s},TrophyColorBlue:151,TrophyName:"Complete all 'Square' Quests in Ch1",TrophyColorRed:40}
        {TrophyColorGreen:27,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"inventorypets:feed_bag",Count:1b,Damage:0s},TrophyColorBlue:27,TrophyName:"Obtain All Inventory Pets Recipes",TrophyColorRed:30}
	{TrophyColorGreen:255,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"minecraft:chain_command_block",Count:1b,Damage:0s},TrophyColorBlue:255,TrophyName:"Unlock Everything in External Aid",TrophyColorRed:255}
	{TrophyColorGreen:207,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"extrautils2:ingredients",Count:1b,Damage:2s},TrophyColorBlue:42,TrophyName:"100% The Watching Closely Chapter",TrophyColorRed:222}
	{TrophyColorGreen:81,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"contenttweaker:obj_island",Count:1b,tag:{display:{Lore:["Can be turned in in ''Filling the Void''","chapter.","","Unlocks special items in the quest book shop."],Name:"Island Token: Pseudotopia"}},Damage:0s},TrophyColorBlue:26,TrophyName:"Discover Every Island",TrophyColorRed:59}
	{TrophyColorGreen:136,TrophyVariant:"classic",TrophyShowsTooltip:1b,TrophyItem:{ForgeCaps:{"customnpcs:itemscripteddata":{}},id:"contenttweaker:pure_ascend",Count:1b,tag:{ench:[{lvl:1s,id:60s}],HideFlags:1,display:{Lore:["Token for pleasing an Affinity Statue.","","Keep these for the Affinity Achievement!"],Name:"Affinity Token"}},Damage:0s},TrophyColorBlue:68,TrophyName:"Complete All Four Affinity Statues",TrophyColorRed:235}
     >

    # Show the date and time you earned the trophy on the tooltip and on hover. [default: true]
    B:showEarnedAt=false

    # Display the author of trophy models on their tooltips. [default: false]
    B:tooltipCredits=false

    perf {
        # Emergency killswitch for the in-inventory trophy renderer. Enable in cases of extreme performance issues or client rendering-related crashes.
        # (Requires a game restart in some cases.)
        # If this option is enabled, and skipItemBases is not, trophy item bases will render using a 'fast path' that is about as expensive as rendering a grass block item. This fast path is not compatible with the fancy trophy TEISR, to my knowledge. [default: false]
        B:noTileEntityItemStackRenderer=false

        # Emergency killswitch for the tile entity renderer. Enable in cases of extreme performance issues or client rendering-related crashes.
        # (Requires a game restart in some cases.) [default: false]
        B:noTileEntitySpecialRenderer=false

        # Emergency killswitch for trophies repeating their item's tooltip, in case one is crashing for whatever reason ('fancy' items tend to do things with their tooltip I can't properly catch) [default: false]
        B:noTooltip=false

        # Don't show the items on top of trophies placed in the world. Saves on performance. [default: false]
        B:skipBlockItems=false

        # Don't show trophy bases on trophies in your inventory and on other GUIs. Saves on performance. [default: false]
        B:skipItemBases=false

        # Don't show the items on top of trophies in your inventory and on other GUIs. Saves on performance. [default: false]
        B:skipItemItems=false
    }

}


